.changes {
  padding-top: 21px;
}

.changes__head {
  font-size: 36px;
  font-weight: 400;
  color: @font-color;
  margin-bottom: 43px;
}

.changes__info {
  width: 275px;
  margin-bottom: 28px;
  font-family: "Arial", sans-serif;
  line-height: 1.29;
  color: @add-font-color;
}

.changes__list {
  .list();
  display: flex;
}

.changes__money {
  display: flex;
  justify-content: center;
}

.results__list {
  margin-right: 25px;
}

.results__value {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #111111;
}

.changes__price {
  margin-top: 19px;
  text-transform: uppercase;
}

.changes__value {
  margin-top: 19px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.results__field {
  border: solid 1px #cdcdcd;
}

.results__field,
.results__value,
.results__describe {
  transform: rotate(180deg);
}

.results__describe {
  padding-right: 25px;
  padding-left: 25px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
  line-height: 1;
  padding-top: 3px;
}

.slider {
  margin-left: -19px;
  width: 320px;
}

.slider__item--before {
  background-image: url("../img/before-mobile@1x.png");
  width: 311px;
  height: 232px;
  background-repeat: no-repeat;
}

.slider-change {
  .list();
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 315px;
  margin-left: -5px;
}


.slider__scale {
  position: relative;
}

.slider__bar {
  position: absolute;
  top: 5px;
  left: 115px;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
}

.slider__toggle {
  position: absolute;
  left: 125px;
  top: 9px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  z-index: 2;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0 0 2px 2px #68b738;
  }
}

.slider-change__describe {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: @font-color;
}

.slider__list {
  .list();
  display: flex;
  margin-bottom: 19px;
}

.slider-change__list {
  margin-left: 17px;
}

.slider__image--after {
  display: none;
}

@media (min-width: @tablets) {
  .changes__head {
    margin-left: -16px;
    font-size: 60px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 81px;
  }

  .changes__info {
    width: 100%;
    padding-left: 30px;
    margin-left: -40px;
    font-size: 16px;
    margin-bottom: 55px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    color: #444444;
  }

  .changes__info br {
    display: none;
  }

  .results__value {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #111111;

    &--weight {
      width: 155px;
    }

    &--days {
      width: 155px;
    }
  }

  .results__field {
    margin-left: -16px;
  }

  .results__describe {
    padding: 10px;
    padding-right: 15px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #444444;
    line-height: 1;
  }

  .results__list:last-child {
    margin-left: 15px;
  }

  .changes__wrapper {
    display: flex;
  }

  .changes__value {
    width: 174px;
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -6px;
  }

  .changes__price {
    text-align: right;
    font-size: 20px;
    margin-top: 11px;
    text-transform: uppercase;
  }

  .slider-change__describe {
    text-transform: uppercase;
    font-size: 20px;
  }

  .slider-change__list {
    border-bottom: 1px dotted #eaeaea;

    &:hover {
      border-bottom: 1px solid #000000;
    }

    &:active {
      border: none;
    }
  }

  .slider__item--before {
    background-image: url("../img/before-tablet@1x.png");
    width: 336px;
    height: 499px;
    background-repeat: no-repeat;
  }

  .slider__item--after {
    background-image: url("../img/after-tablet@1x.png");
    width: 298px;
    height: 499px;
    background-repeat: no-repeat;
  }

  .changes__money {
    display: flex;
    flex-direction: column;
  }

  .changes__describe {
    margin-bottom: 67px;
  }

  .changes__list {
    margin-right: 133px;
  }

  .slider {
    margin-left: 5px;
    width: 768px;
  }

  .slider__list {
    .list();
    display: flex;
    margin-bottom: 7px;
  }

  .slider-change {
    margin-left: 40px;
    width: 583px;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .slider__bar {
    position: absolute;
    top: 10px;
    left: 128px;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    border: solid 1px #dcdcdc;
  }

  .slider__toggle {
    position: absolute;
    left: 320px;
    top: -2px;
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    border: 12px solid #ffffff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  .slider__image--after {
    display: block;
  }
}

@media (min-width: @desktops) {
  .changes {
    padding-top: 5px;
  }

  .changes__head {
    margin-left: 0;
    margin-bottom: 163px;
  }

  .changes__info {
    padding-left: 5px;
    padding-right: 161px;
    margin-left: 0;
    font-size: 16px;
    margin-bottom: 70px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    color: #444444;
  }

  .changes__list {
    margin-left: 15px;
    margin-bottom: 30px;
  }

  .changes__example {
    display: flex;
  }

  .changes__wrapper {
    display: flex;
    flex-direction: column;
  }

  .changes__value {
    text-align: left;
    width: 240px;
  }

  .changes__money {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .slider {
    margin-top: -23px;
  }

  .slider__list {
    margin-bottom: 27px;
  }

  .slider__item--before {
    background-image: url("../img/before-desktop@1x.png");
    width: 365px;
    height: 499px;
    background-repeat: no-repeat;
    margin-left: -25px;
  }

  .slider__item--after {
    background-image: url("../img/after-desktop@1x.png");
    width: 271px;
    height: 499px;
    background-repeat: no-repeat;
  }
}
