.additional__goods {
  margin-top: 0;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  color: @font-color;
}

.additional__goods::after {
  top: 13px;
  content: "";
  position: absolute;
  width: 53px;
  height: 3px;
  background-color: #68b738;
  right: -20px;
}

.additional__list {
  .list();
}

.additional__order  {
  font-size: 16px;
  text-transform: uppercase;
  color: @bg-color;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: block;
  background-color: @green-color;
  margin: 0 auto;
  line-height: 40px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.additional__name,
.additional__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.additional__item {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 4px;
}

.additional__item:last-child {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.additional__feuture {
  .list();
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.additional__heading {
  margin-bottom: 4px;
  margin-top: 23px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: @add-color;
}

@media (min-width: @tablets) {
  .additional__goods {
    margin-left: 5px;
    margin-bottom: 85px;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    color: #111111;
  }

  .additional__goods::after {
    top: 13px;
    content: "";
    position: absolute;
    width: 340px;
    height: 3px;
    background-color: #68b738;
    right: -30px;
  }

  .additional__goods::before {
    left: -30px;
    top: 13px;
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #68b738;
  }

  .additional__item {
    margin-bottom: 49px;
  }

  .additional__item:first-child {
    border-top: none;
  }

  .additional__list--product {
    padding-top: 25px;
    border: 1px solid #e6e6e6;
  }

  .additional__heading {
    font-size: 20px;
    padding: 0 30px;
    margin: 0;
  }

  .additional__product {
    display: flex;
    justify-content: space-between;
  }

  .additional__order--link{
    width: 635px;
    font-size: 16px;
    margin-left: 25px;
  }

  .additional__feuture {
    margin-right: 45px;
    font-size: 16px;
    width: 227px;
    margin-bottom: 0;

    &--water {
      width: 160px;
    }

    &--milk {
      width: 142px;
    }

    &--vitamins {
      width: 217px;
    }
  }

  .additional {
    margin-bottom: 142px;
  }

  .additional__name,
  .additional__value {
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }
}

@media (min-width: @desktops) {
  .additional {
    display: flex;
    margin-bottom: 0;
  }

  .additional__wrapper {
    margin-top: 33px;
    margin-bottom: 80px;
  }

  .additional__goods {
    margin-left: 0;
    padding: 0;
    margin-bottom: 62px;
  }

  .additional__goods::before {
    left: -110px;
    top: 16px;
    content: "";
    position: absolute;
    width: 68px;
    height: 3px;
    background-color: #68b738;
  }

  .additional__name,
  .additional__value {
    font-size: 16px;
  }

  .additional__goods::after {
    top: 16px;
    content: "";
    position: absolute;
    width: 950px;
    height: 3px;
    background-color: #68b738;
    right: -350px;
  }

  .additional__list--product {
    border: none;
    margin-right: 76px;
    margin-left: 0;
  }

  .additional__heading {
    padding: 0;
    margin: 0;
    margin-right: 155px;
  }

  .additional__item {
    justify-content: space-between;
    display: flex;
    margin: 0;
  }

  .additional__product {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional__feuture {
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    width: 280px;
    margin-right: 55px;

    &--sugar {
      margin-right: 48px;
      width: 290px;
    }

    &--milk {
      width: 290px;
      margin-right: 48px;
    }

    &--vitamins {
      width: 290px;
      margin-right: 48px;
    }
  }

  .additional__order--link {
    margin-left: -10px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0;
    width: 245px;
    font-size: 16px;
  }
}
