.form__heading {
  font-size: 36px;
  font-weight: 400;
  color: @font-color;
}

.form__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: @font-color;
}

.form__set {
  border: none;
  text-transform: uppercase;
  padding: 0;
}

.form__field {
  margin-left: 7px;
  border: solid 1px #cdcdcd;
  margin-bottom: 15px;
  opacity: 0.5;

  &--name {
    width: 229px;
  }

  &--weight {
    width: 210px;
  }

  &--age {
    width: 180px;
  }
}

.form__title {
  padding-right: 120px;
}

.form__field--mail {
  width: 206px;
}

.form__field--phone {
  width: 191px;
}

.form__field--textarea {
  width: 280px;
  height: 150px;
  margin: 0 auto;
  padding: 0;
}

.form__order {
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: @bg-color;
  text-align: center;
  text-decoration: none;
  width: 280px;
  display: block;
  background-color: @green-color;
  margin: 0 auto;
  line-height: 40px;
}
