.partnership {
  .wrapper();
  display: flex;
  margin-top: 65px;
}

.partnership__offer {
  width: 150px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  color: @font-color;
}

.partnership__adress {
  padding-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  color: @add-font-color;
}

@media (min-width: @tablets) {
  .partnership {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }

  .partnership__offer {
    width: 154px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    color: @font-color;
  }

  .partnership__adress {
    padding: 0;
    text-align: right;
    width: 160px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: @add-font-color;
  }
}

@media (min-width: @desktops) {
  .partnership {
    margin-top: 115px;
    margin-left: 330px;
    padding: 0 75px;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    width: 570px;
    height: 201px;
    z-index: 1;

    &--index {
     margin-left:110px;
    }
  }
}
